.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer>form {
    flex: 1;
    display: flex;
}

.chat_footer>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.chat_footer>.MuiSvgIcon-root {
    margin: 10px;
    color: gray;
}